@font-face {
    font-family: baloo2;
    src: url(/assets/fonts/Baloo2-Medium.woff2);
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 26px;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.status {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 26px;
    border-radius: 26px;
    padding: 26px;
    margin: 26px 0;
    box-shadow: 8px 8px 8px #0000004D,
        -8px -8px 8px #FFFFFF99;
}

.card-text {
    height: 180px;
    width: 260px;
    border-radius: 18px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-data {
    height: 180px;
    width: 260px;
    border-radius: 18px;
    overflow: hidden;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.2s ease-out;
}

.card-data:hover {
    transform: translateY(-3px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
      0 8px 46px rgba(128, 128, 128, 0.48);
}

.card-text h2 {
    font-family: baloo2;
    line-height: 60px;
    font-size: 50px;
}

.card-data img {
    width: 100px;
    height: 100px;
    opacity: 0.1;
    transform: rotate(340deg);
}

.card-data h3 {
    top: 6px;
    font-size: 30px;
    position: absolute;
}

.card-data p {
    margin-top: 78px;
    position: absolute;
    font-size: 22px;
    color: #002211;
    font-weight: bold;
}

@media (max-width: 1222px) and (min-width: 936px) {
    .card-text {
        margin: 0 70px;
    }

    .card-data {
        margin: 0 70px;
    }
}

@media (max-width: 650px) {
    .card-text {
        height: 100px;
        width: 260px;
    }

    .card-data {
        height: 90px;
        width: 160px;
    }

    .card-data:hover {
        transform: none;
        box-shadow: none;
    }
 
    .card-text h2 {
        line-height: 50px;
        font-size: 40px;
    }

    .card-data h3 {
        margin-top: 0px;
        font-size: 26px;
    }
    
    .card-data img {
        width: 80px;
        height: 80px;
    }
    
    .card-data p {
        margin-top: 68px;
        font-size: 18px;
    }    
}

.logo {
    display: block;
    margin: 0 auto;
    max-width: 95%;
}

.checkbox-wrapper-35 {
    height: 40px;
    padding: 0 26px 0 26px;
}